html{
    scroll-behavior: smooth;
}
body{
    background-color:#35204d;
    display: inline-block;
    font-family: "Minion Variable Concept";
}



.skip a{
    background: white;
    left: 0;
    padding: 6px;
    position: absolute;
    top: -40px;
    -webkit-transition: top 1s ease-out;
    transition: top 1s ease-out;
    z-index: 1;
}
.skip a:focus{  
    top:0px;
}
  
:focus{
    border: 2px solid black;
}


nav ul{
    list-style-type: none;
    text-align: center;
    position: relative;
}
.indexnav li{
    display: inline-block;
    padding-right: 10px;
    margin: 10px;
    margin-left: 5px;
    margin-top: 15px;
    font-size: 25px;
}
.indexnav li:first-child{
    margin-left: 0px;
    text-decoration-line: underline;
    text-decoration-style: solid;
}
nav a{
    color: white;
    font-weight: bold;
    text-decoration: none;
}
nav a:hover{
    text-decoration: underline;
}
.container{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 13(200px);
    justify-content: center;
}
.cavscontainer{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 13(200px);
    justify-content: center;
}
.gallerycontainer{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 13(200px);
    justify-content: center;
}
.indhead h1{
    grid-column: 1/-1;
    grid-row: 1/2;
    text-align: center;
    font-size: 35px;
    font-family: "Segoe Script";
    text-decoration: underline;
    margin: 25px;
    margin-top: 5px;
    padding: 30px;
    background-color: #7E62A2;
    border: 1px double black;
    box-shadow: 10px 10px #CF387F;
}
.about img{
    background-image: url("/images/cavspic1.jpg");
    height: 250px;
    grid-column: 1/-1;
    grid-row: 2/3;
    margin: 50px;
    margin-left: 150px;
    margin-bottom: 0px;
    border: 1px double black;
    box-shadow: 10px 10px #CF387F;
}
.atext{
    text-align: center;
    margin: 25px;
    margin-top: 70px;
    font-size: 15px;
    grid-column: 1/-1;
    grid-row: 3/4;
    padding: 25px;
    line-height: 20px;
    background-color: #7E62A2;
    border: 1px double black;
    box-shadow: 10px 10px #CF387F;
}
.atext a{
    color: black;
    font-weight: bold;
    text-decoration: underline;
}
.cavs img{
    background-image: url("images/cavaliers-cavs-cleveland-1081256.jpg");
    /* max-width: 100%; */
    max-height: 250px;
    grid-column: 1/-1;
    grid-row: 4/5;
    margin: 25px;
    margin-bottom: 0px;
    border: 1px double black;
    box-shadow: 10px 10px #CF387F;
}
.ctext{
    text-align: center;
    margin: 25px;
    font-size: 15px;
    grid-column: 1/-1;
    grid-row: 5/6;
    padding: 25px;
    line-height: 20px;
    background-color: #7E62A2;
    border: 1px double black;
    box-shadow: 10px 10px #CF387F;
}
.ctext a{
    color: black;
    font-weight: bold;
    text-decoration: underline;
}

.softball img{
    background-image: url("images/msoftball.jpg");
    /* max-width: 100%; */
    max-height: 400px;
    grid-column: 1/-1;
    grid-row: 6/7;
    margin: 50px;
    margin-bottom: 0px;
    border: 1px double black;
    box-shadow: 10px 10px #CF387F;
}
.stext{
    text-align: center;
    margin: 25px;
    font-size: 15px;
    grid-column: 1/-1;
    grid-row: 7/8;
    padding: 25px;
    line-height: 20px;
    background-color: #7E62A2;
    border: 1px double black;
    box-shadow: 10px 10px #CF387F;
}
.stext a{
    color: black;
    font-weight: bold;
    text-decoration: underline;
}

.personal img{
    background-image: url("images/bbb program 2.jpg");
    /* max-width: 100%; */
    max-height: 300px;
    grid-column: 1/-1;
    grid-row: 8/9;
    margin: 50px;
    margin-bottom: 0px;
    border: 1px double black;
    box-shadow: 10px 10px #CF387F;
}
.ptext{
    text-align: center;
    margin: 25px;
    font-size: 15px;
    grid-column: 1/-1;
    grid-row: 9/10;
    padding: 25px;
    line-height: 20px;
    background-color: #7E62A2;
    border: 1px double black;
    box-shadow: 10px 10px #CF387F;
}
.ptext a{
    color: black;
    font-weight: bold;
    text-decoration: underline;
}
.resume img{
    background-image: url("images/michigan.jpg");
    /* max-width: 100%; */
    max-height: 300px;
    grid-column: 1/-1;
    grid-row: 10/11;
    margin: 50px;
    margin-bottom: 0px;
    border: 1px double black;
    box-shadow: 10px 10px #CF387F;
} 
.rtext{
    text-align: center;
    margin: 25px;
    font-size: 15px;
    grid-column: 1/-1;
    grid-row: 11/12;
    padding: 25px;
    line-height: 20px;
    background-color: #7E62A2;
    border: 1px double black;
    box-shadow: 10px 10px #CF387F;
}
.rtext a{
    color: black;
    font-weight: bold;
    text-decoration: underline;
}







.aboutnav li{
    display : inline-block;
    padding-right: 15px;
    margin: 5px;
    margin-top: 15px;
    font-size: 15px;
}
.aboutnav li:nth-child(2){
    text-decoration-line: underline; 
    text-decoration-style: solid;
}
.abouthead h1{
    grid-column: 1/-1;
    grid-row: 1/2;
    text-align: left;
    font-size: 25px;
    text-decoration: underline;
    margin: 30px;
    margin-bottom: 0px;
    padding: 10px;
    background-color: #7E62A2;
    border: 1px double black;
    box-shadow: 10px 10px #CF387F;
}
.headshot img{
    background-image: url("/images/HeadShot.JPG");
    grid-column: 1/-1;
    grid-row: 2/3;
    max-height: 300px;
    margin: 25px;
    border: 1px double black;
    box-shadow: 10px 10px #CF387F;
}
.intro p{
    text-align: center;
    margin: 25px;
    margin-top: 0px;
    font-size: 10px;
    grid-column: 1/-1;
    grid-row: 3/4;
    padding: 25px;
    line-height: 15px;
    background-color: #7E62A2;
    border: 1px double black;
    box-shadow: 10px 10px #CF387F;
}
.contact p{
    text-align: left;
    margin: 25px;
    margin-top: 0px;
    font-size: 10px;
    grid-column: 1/-1;
    grid-row: 3/4;
    padding: 25px;
    line-height: 15px;
    background-color: #7E62A2;
    border: 1px double black;
    box-shadow: 10px 10px #CF387F;
}
input[type=text], select, textarea{
    width: 90%;
    padding: 10px;
    margin: 10px;
    border: 1px double black;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
}

input[type=submit]{
    padding: 10px;
    margin: 30px;
    background-color: #7E62A2;
    border: 1px double black;
    box-shadow: 10px 10px #CF387F;
}
input[type=submit]:hover{
    background-color: #CF387F;
    box-shadow: 10px 10px #7E62A2;
}
.formcontainer{
    margin: 50px;
    background-color:#7E62A2;
    border: 1px double black;
    box-shadow: 10px 10px #CF387F;
}
.formcontainer label{
    margin-top: 30px;
    margin-left: 10px;
    font-size: 20px;
}







.projnav li{
    display : inline-block;
    font-size: 25px;
    padding-right: 15px;
    margin: 10px;
}
.projnav li:last-child{
    text-decoration-line: underline; 
    text-decoration-style: solid;
}
.collapsible{
    background-color: #7E62A2;
    display: block;
    color: black;
    cursor: pointer;
    padding: 10px;
    width: 400px; 
    margin-left: 50px;
    border: 1px double black;
    border: 1px double black;
    box-shadow: 10px 10px #CF387F;
    text-align: center;
}
.cavsproj li{
    padding: 15px;
    display: none;
    margin: 50px;
    width: 300px;
    background-color: #7E62A2;
    border: 1px double black;
    box-shadow: 10px 10px #CF387F;
}
.cavsproj h1{
    grid-column: 1/-1;
    grid-row: 1/2;
    text-align: center;
    font-size: 25px;
    text-decoration: underline;
    margin: 30px;
    margin-bottom: 0px;
    padding: 10px;
    background-color: #7E62A2;
    border: 1px double black;
    box-shadow: 10px 10px #CF387F;
}
.cavsproj img{
    background-image: url("images/cavaliers-cavs-cleveland-1081256.jpg");
    /* max-width: 100%; */
    max-height: 250px;
    grid-column: 1/-1;
    grid-row: 4/5;
    margin: 25px;
    margin-bottom: 50px;
    border: 1px double black;
    box-shadow: 10px 10px #CF387F;
}
.softballproj li{
    padding: 15px;
    display: none;
    margin: 50px;
    width: 300px;
    background-color: #7E62A2;
    border: 1px double black;
    box-shadow: 10px 10px #CF387F;
}
.softballproj h1{
    grid-column: 1/-1;
    grid-row: 1/2;
    text-align: center;
    font-size: 25px;
    text-decoration: underline;
    margin: 30px;
    margin-top: 50px;
    margin-bottom: 0px;
    padding: 10px;
    background-color: #7E62A2;
    border: 1px double black;
    box-shadow: 10px 10px #CF387F;
}
.softballproj img{
    background-image: url("images/msoftball.jpg");
    /* max-width: 100%; */
    max-height: 400px;
    grid-column: 1/-1;
    grid-row: 6/7;
    margin: 50px;
    margin-top: 25px;
    margin-bottom: 50px;
    border: 1px double black;
    box-shadow: 10px 10px #CF387F;
}

.graphicproj a{
    padding: 10px;
    padding-left: 100px;
    padding-right: 100px;
    margin: 100px;
    margin-top: 50px;
    margin-bottom: 500px;
    background-color: #7E62A2;
    border: 1px double black;
    box-shadow: 10px 10px #CF387F;
}
.graphicproj h1{
    grid-column: 1/-1;
    grid-row: 1/2;
    text-align: center;
    font-size: 25px;
    text-decoration: underline;
    margin: 30px;
    margin-bottom: 0px;
    padding: 10px;
    background-color: #7E62A2;
    border: 1px double black;
    box-shadow: 10px 10px #CF387F;
}
.graphicproj img{
    background-image: url("images/bbb program 2.jpg");
    perspective: 1000px;
    max-height: 300px;
    grid-column: 1/-1;
    grid-row: 8/9;
    margin: 50px;
    margin-bottom: 50px;
    margin-top: 25px;
    border: 1px double black;
    box-shadow: 10px 10px #CF387F;
}


.flip-card{
    grid-column: 1/-1;
    grid-row: 9/10;
    background-color: #7E62A2;
    border: 1px double black;
    box-shadow: 10px 10px #CF387F;
    perspective: 1000px;
}
.flip-card-inner{
    position: relative;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}
.flip-card:hover .flip-card-inner{
    transform: rotateY(180deg);
}
.flip-card-front, .flip-card-back{
    position: absolute;
    backface-visibility: hidden;
}
.flip-card-front{
    background-color: #7E62A2;
    transform: rotateY(180deg);
}
.flip-card-back{
    background-color: #7E62A2;
    transform: rotateY(180deg);
}





.gallerynav li{
    margin-top: 20px;
    display : inline-block;
    font-size: 20px;
    padding-right: 15px;
}
.gallerynav li:last-child{
    text-decoration-line: underline; 
    text-decoration-style: solid;
}
.play h1{
    grid-column: 1/-1;
    grid-row: 1/2;
    text-align: left;
    font-size: 25px;
    text-decoration: underline;
    margin: 30px;
    margin-bottom: 0px;
    padding: 10px;
    background-color: #7E62A2;
    border: 1px double black;
    box-shadow: 10px 10px #CF387F;
}
.play img{
    width: 75%;
    margin-left: 12.5%;
    margin-right: 12.5%;
    grid-column: 1/-1;
    grid-row: 8/9;
    margin-bottom: 25px;
    margin-top: 25px;
    border: 1px double black;
    box-shadow: 10px 10px #CF387F;
}
.more img{
    width: 75%;
    margin-left: 12.5%;
    margin-right: 12.5%;
    grid-column: 1/-1;
    grid-row: 8/9;
    margin-bottom: 25px;
    margin-top: 25px;
    border: 1px double black;
    box-shadow: 10px 10px #CF387F;
}
.add img{
    width: 75%;
    margin-left: 12.5%;
    margin-right: 12.5%;
    grid-column: 1/-1;
    grid-row: 8/9;
    margin-bottom: 25px;
    margin-top: 25px;
    border: 1px double black;
    box-shadow: 10px 10px #CF387F; 
}
footer{
    font-size: 15px;
    color: white;
    font-weight: bold;
    margin: 10px;
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
}









@media screen and (min-width: 800px){
    .container{
        grid-template-columns: 1fr 1fr;
    }
    .cavscontainer{
        grid-template-columns: 1fr 1fr;
    }
    .gallerycontainer{
        grid-template-columns: 1fr 1fr;
    }
    .indhead h1{
        margin-top: 50px;
        margin-right: 0px;
        font-size: 50px;
        padding: 100px;
    }
    .about{
        margin-left: 0px;
        margin-top: 50px;
    }
    .atext{
        padding: 20px;
        grid-column: 2/3;
        grid-row: 2/3;
    }
    .ctext{
        padding-top: 125px;
        grid-column: 1/2;
        grid-row: 3/4;
        padding-bottom: 0px;
    }
    .stext{
        padding-top: 60px;
        padding-left: 15px;
        grid-column: 2/3;
        grid-row: 4/5;
    }
    .ptext{
        padding-top: 60px;
        grid-column: 1/2;
        grid-row: 5/6;
    }
    .rtext{
        grid-column: 2/3;
    }





    .aboutnav li{
        font-size: 20px;
    }
    .abouthead h1{
        padding: 110px;
        text-align: center;
        font-size: 50px;
    }    
    .headshot img{
        max-height: 800px;
    }
    .intro p{
       font-size: 20px;
       line-height: 25px;
    }
    .contact p{
        font-size: 20px;
        line-height: 25px;
    }
    .formcontainer{
        grid-column: 1/-1;
    }






    .cavsproj h1{
        margin-top: 55px;
    }
    .cavsproj img{
        margin: 50px;
        margin-top: 100px;
    }
    .cavsproj ul{
        margin-top: 0px;
    }
    .collapsible:first-child{
        margin-top: 50px;
    }
    .softballproj h1{
        margin-top: 55px;
    }
    .graphicproj h1{
        margin-top:50px;
    }
    .graphicproj img{
        margin-top: 50px;
    }




    .play{
        margin-bottom: 0px;
    }
    .more img{
        margin-top: 50px;
    }
    .top img{
        margin-top: 100px;
    }
}







@media screen and (min-width: 1200px){
    .container{
        grid-template-columns: 1fr 1fr;
    }
    .indhead{
        grid-column: 1/-1;
        grid-row: 1/2;
        padding-top: 5px;
        padding-bottom: 5px;
        margin: 10px;
        margin-left: 5px;
        margin-right: 20px;
    }
    .about{
        grid-column: 1/2;
        grid-row: 2/3;
        margin: 30px;
        margin-left: 0px;
    }
    .about img{
        height: 400px;
    }
    .atext{
        padding-top: 115px;
        grid-column: 2/3;
        grid-row: 2/3;
        margin-right: 50px;
        font-size: 20px;
        line-height: 25px;
        align-content: center;
    }
    .cavs{
        grid-column: 2/3;
        grid-row: 3/4;
        margin: 50px;
        margin-left: 115px;
    }
    .ctext{
        padding: 50px;
        padding-left: 25px;
        font-size: 20px;
        line-height: 25px;
        grid-column: 1/2;
        grid-row:3/4;
        margin-top: 80px;
        margin-bottom: 80px;
        margin-right: 0px;
    }
    .softball{
        margin-left: 200px;
        grid-column: 1/2;
        grid-row: 4/5;
        margin: 50px;
    }
    .stext{
        padding-top: 90px;
        padding-bottom: 50px;
        font-size: 20px;
        line-height: 25px;
        grid-column: 2/3;
        grid-row: 4/5;
        margin-top: 110px;
        margin-bottom: 80px;
        margin-right: 100px;
        margin-left: 0px;
    }
    .personal{
        margin: 50px;
        margin-left: 150px;
        grid-column: 2/3;
        grid-row: 5/6px;
    }
    .ptext{
        padding-top: 60px;
        font-size: 20px;
        line-height: 25px;
        grid-column: 1/2;
        grid-row: 5/6;
        margin-top: 80px;
        margin-bottom: 80px;
        margin-right: 0px;
    }
    .resume{
        grid-column: 1/2;
        grid-row: 6/7;
        margin: 50px;
    }
    .rtext{
        padding-top: 60px;
        font-size: 20px;
        line-height: 25px;
        grid-column: 2/3;
        grid-row: 6/7;
        margin-top: 80px;
        margin-bottom: 80px;
        margin-left: 0px;
    }



    .abouthead{
        grid-column: 1/-1;
    }   
    .abouthead h1{
        padding: 15px;
    } 
    .headshot{
        grid-row: 2/4;
    }
    .headshot img{
        margin-left: 200px;
        margin-top: 100px;
    }
    .intro p{
        margin-top: 50px;
        grid-column: 2/3;
        grid-row: 2/3;
    }
    .contact p{
        grid-column: 2/3;
        grid-row: 3/4;
    }




    .cavscontainer{
        grid-template-columns: 20px 1500px 20px;
    }
    .cavsproj{
        grid-column: 2/3;
    }
    .cavsproj img{
        margin-left: 500px;
    }
    .cavsproj ul{
        margin-left: 280px;
    }
    .collapsible{
        width: 800px;
    }
    .softballproj{
        grid-column: 2/3;
        grid-row: 2/3;
    }
    .softballproj img{
        margin-left: 550px;
    }
    .softballproj ul{
        margin-left: 280px;
    }
    .graphicproj{
        grid-column: 2/3;
        grid-row: 3/4;
        margin: 0px;
    }
    .graphicproj img{
        margin-left: 550px;
    }



    .gallerycontainer{
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto auto auto;
    }
}

